@import-normalize;
@import 'reset-css';
html{
    font-size: 10px;
    box-sizing: border-box;
    min-height: 100vh;
}

*, *:before, *:after{
    font-size: inherit;
    box-sizing: inherit;

}

img{
    // so the images don't become to big for our pages
    max-width: 100%;

    // make the images fill it's container
    height: 100%;
    width: 100%;
}
