@import-normalize;
@import 'reset-css';
html{
    font-size: 10px;
    box-sizing: border-box;
    min-height: 100vh;
}

*, *:before, *:after{
    font-size: inherit;
    box-sizing: inherit;

}

img{
    max-width: 100%;
}
