$desktop: 1200px;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

#root{
//     display: grid;
//     grid-template: 8rem 1fr 8rem/ 1fr;
//     justify-items: center;
//     background-color: var(--color-blue-900);
    min-height: 100vh;

//     @media(min-width: $desktop){
//         grid-template: initial;
//     }
}
.stats{
    // grid-area: 2;
    color: var(--color-white-200);
    background-color: var(--color-blue-700);
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--font-size);
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;

    // layout
    display: grid;
    grid-template:
        "header" .8fr
        "content" 1fr
        / 1fr
    ;
    // max-width: 88%;
    max-width: min(88%, 53.7rem);

    @media(min-width: $desktop){
        // todo: how do I make a row size depend on a min content of a cell instead of the largerst cell?
        // I want the text to dictiate the img size
        // grid-template:  8rem min-content 02rem min-content 4rem min-content clamp(1rem, 2vw, 5rem) / 7rem 1fr 10rem auto;
        // grid-template-areas: 
        //     ". . . header"
        //     ". tittle . header"
        //     ". . . header"
        //     ". message . header"
        //     ". . . header"
        //     ". list . header"
        //     ". . . header"
        // ;
        text-align: left;
        // height: min-content;
        max-width: min(80%, 110rem);
    }

    &__header{
        
        grid-area: header;
        background-image: url("../images/image-header-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__filter{
        background-color: var(--color-violet);
        opacity: .5;
        height: 100%;        
        width: 100%;
    }
    &__title{
        grid-area: tittle;
        font-size: 2em;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: var(--color-white-300);

        &--highlight{
            color: var(--color-violet);
        }
    }
    &__message{
        grid-area: message;
        line-height: 1.3;
    }
    &__list-stats{
        grid-area: list;

        @media(min-width: $desktop){
            display: flex;
            justify-content: space-between;
        }
    }
    &__stat{
        text-transform: uppercase;
        margin-bottom: 3rem;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        @media(min-width: $desktop){
            margin: 0;
        }
        
        &-heading{
            color: var(--color-white-100);
            letter-spacing: 0.059em;
        }
        &--highlight{
            color: var(--color-white-300);
            margin-bottom: 1rem;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 1.9em;
        }
    }
    &__queries{
        margin: 0;
    }
}
.picture{
    height: 30rem;
}