$desktop: 426px;
// $desktop: 1200px;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

//? is there a way to map the rounded couners all into 1 selector?
// 425 px looks best for the mobile design
.stats{
    min-height: 100vh;
    min-width: 100vw;
    color: var(--color-white-200);
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--font-size);
    background-color: var(--color-blue-900);
    text-align: center;
    

    /* layout */
    display: grid;
    grid-template:
        "header" auto
        "content" minmax(29.3rem, auto)
        / min(88%, 53.7rem)
    ;
    justify-content: center;
    align-content: center;

    @media(min-width: $desktop){
        grid-template:
        "content header " min-content
        / 1fr 1fr
        ;
        text-align: left;
        max-width: min(80%, 110rem);
    }

    &__header{
        // layout
        grid-area: header;
        // apply the border radious to all the children
        border-radius: 1rem 1rem 0 0 ;
        overflow: hidden;
        //  makes sure the image is fully visable
        background-size: contain;

    }
    &__filter{
        background-color: var(--color-violet);
        opacity: .5;
        height: 100%;        
        width: 100%;
    }
    &__content{
        background-color: var(--color-blue-700);
        padding: 4rem 1rem 4rem 2rem;
        
        // bottom size round conners
        border-radius: 0 0 1rem 1rem;
    }
    &__title{
        margin-bottom: 2rem;
        font-size: 2em;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: var(--color-white-300);

        &--highlight{
            color: var(--color-violet);
        }
    }
    &__message{
        line-height: 1.3;
        margin-bottom: 2rem;
    }
    &__list-stats{
        
        @media(min-width: $desktop){
            display: flex;
            justify-content: space-between;
        }
    }
    &__stat{
        text-transform: uppercase;
        margin-bottom: 3rem;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        @media(min-width: $desktop){
            margin: 0;
        }
        
        &-heading{
            color: var(--color-white-100);
            letter-spacing: 0.059em;
        }
        &--highlight{
            color: var(--color-white-300);
            margin-bottom: 1rem;
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 1.9em;
        }
    }
    &__queries{
        margin: 0;
    }
}
.picture{
    height: 30rem;
}